header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: transparent;
    padding: 16px 120px 0 120px;
    a {
        color: white;
        margin-left: 36px;
        text-decoration: none;
        font-weight: 600;
        &:hover {
            color: rgba(255, 255, 255, 0.8);
        }
    }
    button {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
}

.logo {
    width: 96px;
    object-fit: contain;
}